*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--color-primary-dark-blue);
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-image: url("../../images/whyus-background.svg");
  background-repeat: no-repeat;
  background-position: center 1200px;
  background-size: contain;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  user-select: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}
