@import './utils/fonts';
@import './base';
@import './utils/fonts';
@import './utils/texts';
@import './utils/utils';
@import './utils/variables';

@import './components/buttons';
@import './components/contact-form';
@import './components/input';
@import './components/links';
@import './components/procedur-card';

@import './layouts/contact-section';
@import './layouts/container';
@import './layouts/form-terms';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/modal';
@import './layouts/reincarnation-section';
@import './layouts/section';
@import './layouts/why-us-section';