:root {
  --color-primary-blue: #2b7fff;
  --color-primary-dark-blue: #011c44;
  --color-primary-yellow: #ffd02b;
  --color-secondary-dark-blue: #011f4a;
  --color-light-gray: #747272;
  --color-dark-gray: #4a4a4a;
}
