.button {
  display: block;
  padding: 16px 32px;
  color: white;
  font-weight: 600;
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    color: var(--color-primary-dark-blue);
    background-color: transparent;
    border: 2px solid var(--color-primary-blue);
  }
}
