.contact-form {
  &__container {
    padding: 48px 56px;
    max-width: 420px;
    width: 100%;
    background-color: var(--color-primary-dark-blue);
    background-image: url('../../images/form-background-image.svg');
    border-radius: 32px;
  }

  &--modal {
    margin: auto 64px;
  }

  &__button {
    margin: 0 auto 8px;
    &:hover {
      color: white;
    }
  }

  &__form-field {
    margin-bottom: 16px;

    &--modal {
      margin-bottom: 24px;
    }
  }

  &__text {
    margin-bottom: 32px;
    text-align: center;
    font-weight: 600;
  }
}
