.link {
  color: var(--color-primary-dark-blue);
  text-decoration: none;
  transition: color 0.3s, font-weight 0.3s; 

  &:hover {
    color: var(--color-primary-blue);
    font-weight: 700;
  }
}
