.contact-section {
    padding-bottom: 96px;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }

    &__map {
        width: 600px;
        height: 480px;
        flex-shrink: 0;
        border: none;
        border-radius: 32px;
    }
}