.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px 0;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);



    &__container {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 40px;
    }

    &__menu {
        display: flex;
        gap: 56px;
        flex-grow: 1;
        justify-content: center;
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    &__socials-icon {
        fill: var(--color-primary-dark-blue);
    }
}