.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  padding: 42px 144px;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  background-image: url('../../images/form-background-image.svg');
  background-color: var(--color-primary-dark-blue);
  border-radius: 48px;
  overflow-y: auto;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px auto 0;
  }

  &__btn-close {
    position: absolute;
    top: 42px;
    right: 42px;
    cursor: pointer;
  }

  &__title {
    margin-bottom: 40px;
    font-family: 'Play';
    font-size: 64px;
    line-height: 100%;
    font-weight: 700;
    text-align: center;
    color: white;
  }
}